 <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 logo">
                    <a href="{{ site.url }}">
                        <img class="img-responsive logo" src="https://images.tcdn.com.br/static_inst/site/logos/tray-logo-negativo.svg" alt="">
                    </a>
                </div>
                <div class="col-sm-6">
                    <form action="/search/" method="get">
                        <input type="text" name="q" id="search-input" placeholder="Search">
                        <input type="submit" value="Search" style="display: none;">
                    </form>
                </div>
            </div>
        </div>
    </header>