    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="/frontend/console-tool/">Console-Tool</a>
                    </li>
                    <li>
                        <a href="/frontend/objetos/">Objetos</a>
                    </li>
                    <li>
                        <a href="/frontend/methods/">Métodos</a>
                    </li>
                    <li>
                        <a href="/frontend/api/">APIs</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>