body {
  overflow-x: hidden;
  @media (max-width: 768px) {
    font-size: 8px;
  }
}

*{
    font-family: 'Lato', sans-serif;
}
p {
  font-size: 15px;
  .small{
    font-size: 10px;
  }
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: $theme-color;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   width: 100%;
   margin-bottom: 25px;
}

.bigitem {
   /* This will be twice as big as the small item. */
   -webkit-flex: 2 0 0;
   flex: 2 0 0;
}
.smallitem {
   -webkit-flex: 0.5 0 0;
   flex: 0.5 0 0;
     @media (max-width: 768px) {
        display: none;
    }
}
