$theme-color: #0c8fcd;

// Navbar colors
$nav-color: #fff;
$nav-text: #0c8fcd;
$nav-link:#0c8fcd;
$nav-hover:#0c8fcd;
$nav-focus:#0c8fcd;
$nav-active:#fff;
$nav-active-bg:#0c8fcd;

// Header colors
$header-text: #fff;
$gradient-top:#002f4b;
$gradient-bottom:#0c8fcd;

//Footer colors

$footer-text:#fff;
$footer-color: #002f4b;

//devices

$mobile: 768px;
