<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Documentação de Desenvolvimento Tray">
    <meta name="author" content="Tray - Plataforma de E-commerce">
    <meta name="theme-color" content="#0c8fcd"/>
    
    <title>Tray - Plataforma de E-commerce </title>

    <link href="{{site.url}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="{{site.url}}/css/doc.css">
    <link href="/../../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="manifest" href="/manifest.json">
    
    <script>
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('http://dev.tray.com.br/js/ws.js')
            .then(function () {
              console.log('service worker registered');
            })
            .catch(function () {
              console.warn('service worker failed');
            });
        }
    </script>
</head>

<body id="page-top" class="index">

	{% include navbar.html %}

    {% include header.html %}

        <div class="flexcontainer">
            <div class="smallitem">
                {% include sidebar.html %}
            </div>
            <div class="bigitem">
             {{ content }}
            </div>
        </div>

     {% include footer.html %}

    <script src="{{site.url}}/vendor/jquery/jquery.min.js"></script>
    <script src="{{site.url}}/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
    
</body>
</html>
